<nav class="navbar navbar-inverse">
    <div class="container">
        <a href="/" class="navbar-brand"><%= APP_NAME %></a>
        <% unless controller_name == 'login' %>
        <ul class="nav navbar-nav navbar-right">
            <li<%= ' class="active"'.html_safe if controller_name == '' %>><%= link_to 'Link', '/' %></li>
        </ul>
        <% end %>
    </div>
</nav>
