<h2><span>Add a New User</span></h2>
<div class="col-md-8 col-md-offset-2 col-sm-12">
  <% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= render 'form_horizontal' %>
</div>