<h2><span><%= @user.full_name %></span></h2>
<div class="col-md-6 col-sm-12">
    <%= render 'show_ajax' %>
    <div class="text-right">
        <%= link_to 'Done', :back, class: 'btn btn-link btn-lg' %>
    </div>
</div>