<h2><span>Show User</span></h2>
<div class="col-md-6 col-sm-12">
    <%= render 'show_ajax' %>
    <div class="text-right">
        <%= link_to 'Done', users_url, class: 'btn btn-link btn-lg' %>
    </div>
</div>