<div class="col-md-12 col-sm-12">
  <table class="table table-striped">
    <tbody>
    <%% @show_columns.each do |column_name| %>
    <tr>
      <td><%%= column_name.titleize %></td>
      <td><%%= @user.send(column_name) %></td>
    </tr>
    <%% end %>
    </tbody>
  </table>
</div>