<h2><span>Show <%= singular_table_name.titleize %></span></h2>
<div class="col-md-6 col-sm-12">
    <table class="table table-striped">
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <tr>
            <td><%= attribute.human_name %></td>
            <td><%%= @record.<%= attribute.name %> %></td>
        </tr>
    <% end -%>
</table>
    <div class="text-right">
        <%%= link_to 'Done', <%= plural_table_name %>_url, class: 'btn btn-lg' %>
    </div>
</div>