<div class="col-md-12 col-sm-12">
    <table class="table table-striped">
        <% @show_columns.each do |column_name| %>
            <tr>
                <td><%= column_name.titleize %></td>
                <td><%= @record.send(column_name) %></td>
            </tr>
        <% end %>
    </table>
</div>