/* Colors */
$dark-color: #2c3e50;
$darker-color: darken($dark-color, 10%);
$lighter-color: lighten($dark-color, 20%);
$success-color: #509271;

.primary { color: $brand-primary !important; }
.info { color: $brand-info !important; }
.success { color: $brand-success !important; }
.warning { color: $brand-warning !important; }
.danger { color: $brand-danger !important; }

.btn-primary { background-color: $lighter-color; border-color: $lighter-color; color: #fff; }
.btn-success { background-color: $success-color; border-color: $success-color; color: #fff; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
}
html, body { height: 100%; }

a:focus, .btn:focus, select:focus, input:focus { outline: 0 !important; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
span.texttip { border-bottom: 1px dashed #999; padding-bottom: 2px; }

.navbar {
  background-color: $dark-color;
  margin-bottom: 15px;
  border-radius: 0;

  .navbar-brand { color: #fff; font-size: 20px; font-weight: 600; }
  .navbar-brand i { margin-right: 12px; margin-top: -2px; }
  .navbar-nav > li > a { color: #bbb; }
  .navbar-nav > li.active { background-color: $darker-color !important; }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;

  .footer-above {
    padding-top: 10px;
    background-color: $dark-color;
  }

  .footer-below {
    padding: 15px 0;
    background-color: $darker-color;
  }
}

h2 {
  padding: 5px 10px;
  background-color: $lighter-color;
  color: #fff;
  font-size: 24px;
  line-height: 44px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;

  span { margin: 0 7px; }
  span.highlight, span.highlight a { color: $brand-info; }

  .btn, .btn:hover {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
  }

  form.search { margin-top: -3px; }

  .pull-left .btn {
    margin-top: -4px;
    padding: 0 5px;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td { line-height: 48px !important; vertical-align: middle !important; padding: 0 5px 0 15px !important; font-size: 16px; }
  th i { margin-right: 10px; }
  td.actions {
    width: 150px;
    a { background-color: transparent; border-color: transparent; color: #ccc; padding: 0 10px; }
    a:hover { background-color: transparent; border-color: transparent; color: $lighter-color; }
    ul {
      margin: -5px 0 0 0;
      li { padding: 0 !important; }
    }
  }
  th a, th a:hover, th a:active, th a:focus { text-decoration: none; width: 99%; display: inline-block; color: $lighter-color; }
}

form {
  .popover {
    min-width: 300px;
    width: auto;
    .popover-title {
      background-color: #900;
      color: #fff;
    }
    i.fa-times {
      color: #c00;
      margin-right: 5px;
    }
  }

  .checkbox { padding-top: 10px !important; }

  .alert { font-size: 16px; }

  .form-group > label { font-size: 18px; font-weight: normal !important; line-height: 36px; }
  .button-row {
    padding-right: 20px;
    .btn { width: 120px; }
  }

  label.error {
    color: #c00;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 7px;
  }

  input.error { border: 2px solid #c00; }

}
form.validate { margin: 20px 0; }

.pagination {
  .btn-primary { background-color: $lighter-color; border-color: $lighter-color; color: #fff; }
}

// login
.login {
  margin-top: 30px;
  form {
    .button-row { padding-right: 0; }
  }
}

// Buttons
.btn-link, .btn-link:hover { text-decoration: none; }
.btn-outline {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #bbb;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color: #bbb;
  background-color: transparent;
}

.btn-outline:hover {
  border-color: #fff;
  color: #fff;
}

.btn-done, .btn-done:hover { background-color: #eee; border-color: #eee; color: #aaa; }

// Bootbox
.modal-header { background-color: $lighter-color; color: #fff; }
.modal-header {
  h4.modal-title i {
    margin: -2px 0 0 0;
  }
}
.modal-footer { background-color: #eee; }
.modal-body {
  form { margin: 10px 0 0 0; }
  table { margin-bottom: 0; }
}

// Growl
.bootstrap-growl {
  width: auto;
  min-width: 300px;
  z-index: 2;
}

// manual clearfix
.modal-body:before, .modal-body:after {
  content:"";
  display:table;
  clear:both;
}

